*{
    margin: 0 auto;
}

.logoSection{
    background-color: black;
    height: 50px;
    
}
.searchHomeProfile{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.searchHome{
    display: flex;
    justify-content: space-between;
}
.search-bar-container{
    
}
.search {
    background-color:rgb(217, 217, 217) ;
}
