
.homescreenbackground{
  position: fixed;
  background-size: cover;
  margin-top: 5vh;
  z-index: -1;
}

.HomeTitle{
  color: #FFEEF2;
  position: fixed;
  top: 0;
  border: 1px solid #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  padding-left: 1em;
  padding-right: 100%;
  margin: auto;
  z-index: 6;
}

.Art{
  z-index: 5;
  padding-top: 30vh;
  padding-left: 20vh;
  height: 35vh;
  width: 65vh;
  z-index: 6;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* css for the navbar */
.Navbar{
  top: 14vh;
  display: flex;
  position: fixed;
  z-index: 6;
}

ul{
  flex: auto;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
}

/* home nav bar buttons*/
/* li a {
  border-radius: 1em;
  text-decoration: none;
  border: 3px solid #420098;
  padding-left: 3em;
  padding-right: 3em;
  color: #420098;
  margin-left: 10vh;
  display:flex;
} */

footer{
  border-radius: 1em;
  color:#1b1b1b;
  bottom: 0;
  border: 3px solid #1b1b1b;
  background-color: #1b1b1b;
  padding-top: 0%;
  padding-right: 100%;
  padding-bottom: 18vh;
  /* margin-bottom: 0%; */
  position: fixed;
  bottom: 0;
}

/* Login.js */
.LoginTitle{
  color: aqua;
  border: 1px solid #1b1b1b;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1b1b1b;
  font-stretch: 100%;
  font-family: cursive;
  padding-left: 1em;
  margin-top: 0%;
  position: fixed;
  margin: auto;
  padding-right: 100%;
}

/* input{
  display: flex;
  flex-direction: row;
} */

/* label{
  
} */

form{
  top: 27vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  border: 3px solid #1b1b1b;
  margin-left: 15vh;
  padding-left: 15vh;
  padding-right: 19vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
}

.loginlinks{
  position: fixed;
  top: 50vh;
  margin: auto;
  padding-left: 15vh;

}

ul{
  flex: auto;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
}

/* home nav bar buttons*/
li a {
  border-radius: 1em;
  text-decoration: none;
  border: 3px solid #420098;
  padding-left: 3em;
  padding-right: 3em;
  color:#420098;
  margin-left: 10vh;
  display:flex;
  background-color: #FFEEF2;
}

footer{
  border-radius: 1em;
  color:#1b1b1b;
  bottom: 0;
  border: 3px solid #8D5DF5;
  background-color: #8D5DF5;
  padding-top: 0%;
  padding-right: 100%;
  padding-bottom: 18vh;
  /* margin-bottom: 0%; */
  position: fixed;
  bottom: 0;
}

/* Login.js */

.logininpic{
  position: fixed;
  z-index: -5;
  margin-bottom: 50vh;
}

.LoginTitle{
  color:#FFEEF2;
  border: 1px solid  #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  padding-left: 1em;
  margin-top: 0%;
  position: fixed;
  margin: auto;
  padding-right: 100%;
  padding-bottom: 5vh;
  padding-top: 1vh;
}

input{
  display: flex;
  flex-direction: row;
  margin-right: 1vh;
  list-style-type: none;
}

/* label{
  
} */

form{
  top: 27vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  border: 3px rgba(0,0,0,0.5);
  margin-left: 18vh;
  padding-left: 7vh;
  padding-right: 18vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
}

.loginlinks{
  position: fixed;
  top: 50vh;
  margin: auto;
  display: flex;
  padding-right: 50vh;
  margin-right: 60vh;
  list-style-type: none;
  text-decoration: none;
}

.create{
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.navbarlogin{
  top: 10vh;
  display: flex;
  position: fixed;
  /* flex-wrap: wrap;
  position: fixed;
  flex-direction: row;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  top: 15vh;
  padding-right: 5vh; */
}

.SubmitButton{
  position: fixed;
  top: 28vh;
  margin-left: 0vh;
  padding-right: vh;
  border: 3px #1b1b1b;
  font-size: 2vh;
}

.loginbuttons{
  list-style-type: none;
  text-decoration: none;
}

button{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* gameList */
.cardgames{
  color: #420098;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 25vh;
  margin-bottom: 20vh;
  background-color: #FFE4F3;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.GameListT{
  color: #FFEEF2;
  position: fixed;
  top: 0;
  border: 1px solid #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  margin-top: 0;
  padding-left: 8vh;
  padding-right: 100%;
  padding-top: 4vh;
  padding-bottom: 3vh;
  z-index: 5;

}

.background2{
  position: fixed;
  z-index: -2;
  background-position: cover;
  margin-top: -40vh;
}

/* user css */
.userT{
  color: #FFEEF2;
  position: fixed;
  top: 0;
  border: 1px solid #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  margin-top: 0;
  padding-left: 8vh;
  padding-right: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 8;

}

.box{
  margin-top: 20vh;
  color: #120522;
  background-size: cover;
}

/* Signup */
.SignupT{
  color: #FFEEF2;
  position: fixed;
  top: 0;
  border: 1px solid #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  margin-top: 0;
  padding-left: 8vh;
  padding-right: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 5;
}

.SignT{
  position: fixed;
  top: auto;
  z-index: -1;
}

.UserB{
  background-size: cover;
  z-index: -1;
}

/* Game List Page */
.GameListPT{
  color: #FFEEF2;
  position: fixed;
  top: 0;
  border: 1px solid #8D5DF5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8D5DF5;
  font-stretch: 100%;
  font-family: cursive;
  padding-left: 1em;
  padding-right: 100%;
  margin: auto;
  z-index: 6;
}